html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: aliceblue;

}

h1 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .window {
        width: auto !important;
    }

    .mainInfo {
        flex-direction: column !important;
    }

    .mainInfo .image {
        padding: 0 !important;
        margin-bottom: 15px;
        min-width: 150px;
    }
  }

.window {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid #1DA1F2;
    border-radius: 25px;
    justify-content: center;
    width: 60vw;
    height: auto;
    margin: auto;
    padding: 15px;
    margin-top: 20vw;
}

.loginButton {
    background-color: #1DA1F2;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 15px;
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
}

.mainInfo {
    display: flex;
    flex-direction: row;
}

.column-text {
    display: flex;
    flex-direction: column;
}

.image {
    padding: 0px 20px 10px 10px;
    margin: auto;
}

.nick {
    color: gray;
    font-size: small;
}