body {
    background-color: aliceblue;

}

h1 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .window {
        width: auto !important;
    }
  }

.window {
    display: flex;
    background-color: white;
    border: 3px solid #1DA1F2;
    border-radius: 25px;
    justify-content: center;
    width: 60vw;
    height: auto;
    margin: auto;
    margin-top: 20vw;
}


.window form {
    justify-content: center;
    margin: auto;
    width: auto;
}

.window form > * {
    margin: 15px;
}

.form-row {
    align-content: center;
}

.label-col {
    width: 30%;
    text-align: end;
}

.submit-row {
    text-align: center;
    margin: auto;
}

.submit-row input {
    font-size: medium;
    font-weight: 500;
    background-color: white;
    border: 3px solid #1DA1F2;
    border-radius: 25px;
}

